#contribute {
  section:nth-child(1) {
    p:nth-of-type(1) {
      color: var(--color-secondary);
      font-weight: var(--font-weight-strong);
      font-size: var(--font-size-h4);
    }
  }

  section:nth-child(2) {
    ol {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-position: inside;
    }

    li {
      padding: 0.9rem 1rem;
      border-radius: var(--border-radius);
      background-color: var(--color-light);
      height: 160px;
      box-shadow: 0 0 0 2px rgba(181, 154, 221, 0.2);
    }

    @media (max-width: 42rem) {
      ol {
        grid-template-columns: 1fr;
      }
    }
  }
}
