#guidelines {
  h3 {
    font-family: "Great Vibes", cursive;
    font-size: clamp(2.2rem, 6vw, 3.2rem);
    font-weight: var(--font-weight-strong);
    color: var(--color-primary);
    background: none;
    transform: none;
    display: block;
    margin-bottom: 0.65em;
  }

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    p:nth-of-type(2) {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(4deg) translate(4.75rem, -3.5rem);
        transform-origin: left center;
        -webkit-background-clip: text;
        background-clip: text;
        color: var(--color-primary-alt);
        font-size: 0.9em;
        font-weight: normal;
        content: "← Whoa, text gradients!";
      }
    }
  }

  .container > a {
    align-self: center;
  }
}
